<form action="#/chirp" method="POST" id="formSubmitChirp" class="chirp-form">
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
</form>