<form id="create-receipt-form" action="#/checkoutReceipt" method="POST">
    <div class="col wide">
    </div>
    <div class="col wide">
    </div>
    <div class="col wide right">Total:</div>
    <div class="col">{{total}}</div>
    <div class="col">
        <input id="checkoutBtn" type="submit" value="Checkout" />
    </div>
    <input type="hidden" name="receiptId" />
    <input type="hidden" name="productCount" />
    <input type="hidden" name="total" />
</form>